@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
#root {
  padding-top: 2rem;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  margin-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1a1a1a;
  z-index: -1;
}

.header img {
  position: absolute;
  width: 100%;
  height: 30vh;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

.header img::after {
  content: "";
  background: grey;
}

.header h1 {
  color: white;
  font-weight: 800;
}

.container {
  width: 90%;
  margin: auto;
}

.featured {
  width: 100%;
  background-color: #ecf2f9;
  color: #224368;
  padding: 2rem;
}

.featured .featuredtext {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
  min-width: 280px;
}

.button {
  overflow: hidden;
  display: block;
  z-index: 2;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 400%;
  background: linear-gradient(120deg, #224368 50%, #719dd1 50%);
  z-index: -1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.button:hover::before {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.slider .item {
  position: relative;
  border: 1px solid white;
  min-width: 15rem;
  height: 10rem;
  overflow: hidden;
}

.slider .item img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.slider .item .text {
  position: absolute;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  color: white;
  height: 8rem;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.685)), to(rgba(0, 0, 0, 0.781)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.781));
  bottom: -50px;
  opacity: 0;
}

.slider .item:hover .text {
  bottom: 0px;
  opacity: 1;
}

.feed .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  border: 1px solid black;
}

.feed .item .img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.feed .item .text {
  background-color: #ecf2f9;
  padding: 1rem;
}

.feed .item .img-load {
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.feed .item .text-load {
  background-color: white;
  position: relative;
}

.feed .item .text-load .head-load {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 80%;
  height: 1rem;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.feed .item .text-load .para-load {
  position: absolute;
  left: 1rem;
  top: 3rem;
  height: 4rem;
  width: 60%;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

@-webkit-keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #cfcfcf;
  }
  100% {
    background-color: #dfdfdf;
  }
}

@keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #cfcfcf;
  }
  100% {
    background-color: #dfdfdf;
  }
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3rem;
}

.searchbar input {
  width: 60%;
}

.searchbar button {
  width: 30%;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  background-color: #5a2e04;
  z-index: 0;
}

.hero .splash {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  z-index: 0;
}

.hero .heroText {
  text-align: center;
  padding: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.249);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-shadow: 0px 0px 2rem black;
          box-shadow: 0px 0px 2rem black;
  text-shadow: 2px 2px 1rem black;
  z-index: 1;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.249);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-shadow: 0px 0px 2rem black;
          box-shadow: 0px 0px 2rem black;
  text-shadow: 2px 2px 1rem black;
  color: white;
  z-index: 10;
}

nav a {
  color: white;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 19px;
  }
  html .item {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    height: 20rem;
  }
  html .item .img {
    width: 45% !important;
    height: 100% !important;
  }
  html .item .text {
    width: 55% !important;
    height: 100% !important;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 23px;
  }
}
/*# sourceMappingURL=App.css.map */