@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
#root {
  padding-top: 3rem;
  background-color: #ebedf0;
  z-index: -10;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  margin-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #1a1a1a;
  z-index: 0;
}

.header a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

.header img {
  position: absolute;
  width: 100%;
  height: 40vh;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}

.header img::after {
  content: "";
  background: grey;
}

.header h1 {
  color: white;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 1rem;
  width: 90%;
  margin: auto;
  z-index: 1;
}

.container {
  width: 90%;
  margin: auto;
}

p {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 1rem;
}

.featured {
  width: 100%;
  background-color: #ecf2f9;
  color: #224368;
  padding: 2rem;
}

.featured .featuredtext {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
  min-width: 280px;
}

.button {
  overflow: hidden;
  display: block;
  z-index: 2;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 400%;
  background: linear-gradient(120deg, #224368 50%, #719dd1 50%);
  z-index: -1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.button:hover::before {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.slider .item {
  position: relative;
  border: 1px solid white;
  min-width: 15rem;
  height: 10rem;
  overflow: hidden;
  z-index: 1;
}

.slider .item img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

.slider .item .text {
  position: absolute;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  color: white;
  height: 8rem;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.685)), to(rgba(0, 0, 0, 0.781)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.781));
  bottom: -50px;
  opacity: 0;
  z-index: 1;
}

.slider .item:hover .text {
  bottom: 0px;
  opacity: 1;
}

.feed .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  border: 1px solid black;
}

.feed .item .img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.feed .item .text {
  background-color: #ecf2f9;
  padding: 1rem;
}

.feed .item .img-load {
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.feed .item .text-load {
  background-color: white;
  position: relative;
  min-height: 15rem;
}

.feed .item .text-load .head-load {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 80%;
  height: 1rem;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.feed .item .text-load .para-load {
  position: absolute;
  left: 1rem;
  top: 20%;
  height: 30%;
  width: 60%;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.raised {
  position: relative;
  background-color: #ecf2f9;
  color: black;
  margin-top: -3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.raised .completed {
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: #719dd1;
  z-index: -1;
}

.gallery {
  position: relative;
  width: 100%;
  height: 10rem;
  margin-right: 2rem;
  overflow: hidden;
}

.gallery .control {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #224368;
  color: #ecf2f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  bottom: 50%;
}

.gallery .left {
  left: 10px;
}

.gallery .right {
  right: 10px;
}

.gallery .nub {
  background-color: #ecf2f9;
  bottom: 10px;
  width: 10px;
  height: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
}

.gallery .active {
  background-color: #224368;
}

.gallery .galleryContent {
  position: absolute;
  left: -260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery .galleryContent img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 20rem;
}

.section {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

@-webkit-keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #cfcfcf;
  }
  100% {
    background-color: #dfdfdf;
  }
}

@keyframes loading {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #cfcfcf;
  }
  100% {
    background-color: #dfdfdf;
  }
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3rem;
}

.searchbar input {
  width: 60%;
}

.searchbar button {
  width: 30%;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  z-index: 0;
  background-color: #1a1a1a;
}

.hero .splash {
  position: absolute;
  width: 100%;
  height: 60vh;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}

.hero .splash::after {
  content: "";
  background: grey;
}

.hero .heroText {
  text-align: center;
  padding: 2rem;
  color: white;
  text-shadow: 2px 2px 1rem black;
  z-index: 1;
}

.hero .heroText h1 {
  font-size: 3rem;
}

.hero .heroText em {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.hero .heroText .button {
  margin-top: 2rem;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.699);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-shadow: 0px 0px 2rem black;
          box-shadow: 0px 0px 2rem black;
  text-shadow: 2px 2px 1rem black;
  color: black;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0rem 1rem;
}

nav .rightNav {
  margin-left: auto;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 17px;
  }
  html .feed .item {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    height: 20rem;
  }
  html .feed .item .img {
    width: 45% !important;
    height: 100% !important;
  }
  html .feed .item .text {
    width: 55% !important;
    height: 100% !important;
  }
  html .page {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding-top: 2rem;
  }
  html .page .text {
    width: 80%;
  }
  html .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    height: 50rem;
    overflow: scroll;
  }
  html .gallery img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%;
    margin: 0.5rem 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
/*# sourceMappingURL=App.css.map */